@model DACS_Web_Viec_Lam.Data.Entities.Title

@{
    ViewData["Title"] = "Thêm loại ngành";
    Layout = "~/Areas/Employee/Views/Shared/head_foot.cshtml";
}

<head>
    <h1>Thêm loại ngành</h1>
    <hr />
    <link href="~/css/addstyle.css" rel="stylesheet" />
</head>
<div class="row">
    <div class="col-md-4" enctype="multipart/form-data">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên ngành nghề:</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Disable" class="control-label"></label>
                <select asp-for="Disable" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="Disable" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Slug" class="control-label"></label>
                <input asp-for="Slug" class="form-control" />
                <span asp-validation-for="Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popular" class="control-label"></label>
                <input asp-for="Popular" class="form-control" />
                <span asp-validation-for="Popular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />|
                <a class="btn btn-primary" asp-action="Index">Xem danh sách</a>

            </div>
        </form>
    </div>
</div>


@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
