
@{
    ViewData["Title"] = "ExportToExcel";
    Layout = "~/Views/Shared/head_foot.cshtml";
}



<h2>Export Data</h2>

<p>
    <a asp-controller="Export" asp-action="ExportToExcel" class="btn btn-primary">Export to Excel</a>
</p>
