@model DACS_Web_Viec_Lam.Models.Employer

@{
    ViewData["Title"] = "Trang cá nhân";
    Layout = "~/Areas/Company/Views/Shared/head_foot.cshtml";
}

<head>
    <h1>Trang cá nhân</h1>
    <h4>Nhà tuyển dụng</h4>
    <hr />
    <link href="~/css/addstyle.css" rel="stylesheet" />
</head>
<div class="row">
    <div class="col-md-4">

        <form asp-action="Add" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label">Tên công ty</label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDiscription" class="control-label">Mô tả công ty</label>
                <input asp-for="CompanyDiscription" class="form-control" />
                <span asp-validation-for="CompanyDiscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactMail" class="control-label">Email liên hệ</label>
                <input asp-for="contactMail" class="form-control" />
                <span asp-validation-for="contactMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactPhone" class="control-label">Số điện thoại liên hệ</label>
                <input asp-for="contactPhone" class="form-control" />
                <span asp-validation-for="contactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl">Ảnh đại diện</label>
                <input type="file" asp-for="ImageUrl" class="form-control" />
            </div>

            <button type="submit" class="btn btn-primary">Thêm</button>
        </form>
    </div>
</div>

